<!DOCTYPE html>
<html>
  <head>
    <title>Elf-Pen {{ title }}</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/assets/styles.css" rel="stylesheet" media="screen">
    <link href="/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap-markdown.min.css" rel="stylesheet" media="screen">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    {% include "layouts/header.tpl.twig" %}

    <div class="container-fluid">
      <div class="row-fluid">
        
        {% include "layouts/sidebar.tpl.twig" %}

        <!--/span-->
        <div class="span9" id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
      <hr>
      {% include "layouts/footer.tpl.twig" %}
    </div>
    <!--/.fluid-container-->
    <link href="vendors/uniform.default.css" rel="stylesheet" media="screen">

    <script src="vendors/jquery-1.9.1.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="assets/DT_bootstrap.js"></script>
    <script src="vendors/jquery.uniform.min.js"></script>
    <script src="assets/bootstrap-markdown.js"></script>
    <script>
    $(function() {
        $("#post-content").markdown({autofocus:false,savable:false,width: 700, height: 600})
        $(".uniform_on").uniform();
        $(".chzn-select").chosen();
    });
    </script>
  </body>
</html>